.modal {
  display: block;
  opacity: 0;
  visibility: hidden;
  background: rgba(0,0,0, .5);
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.overlay-img {
  position: relative;
  height: 400px;
  background-size: cover !important;
}

.navbar {
  padding: 5px 30px;
}
.brand-logo img {
  width: 140px;
}

.content-wrapper {min-height: calc(100vh - 65px) !important}

.upload-logo {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid $border-color;
  border-radius: 4px;
  margin-top: -140px;
  left: 30px;
  background-size: cover !important;
}

.file-upload {
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  input {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 38px;
    height: 38px;
    z-index: 2;
  }

  button {
    width: 30px;
    height: 30px;
    border-radius: 0;
    position: relative;
    z-index: 1;
    i {
      font-size: 14px;
    }
  }
}

select.form-control {
  height: 50px;
  padding: 15px;
}

.full-page-wrapper {
  background-size: cover !important;
}

.pointer {
  cursor: pointer;
}

.user-avatar {
  position: relative;
  border-radius: 6px;
  background-size: cover !important;
  margin: 0;
  min-height: 150px;
  margin-bottom: 20px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.btn {
  position: relative;
  .dot-opacity-loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.avatar {
  background-size: cover !important;
}

.nav-link {
  .avatar {
    width: 40px;
    height: 40px;
    background-size: cover!important;
    border-radius: 50%;
    border: 1px solid $light;
  }
}
.card {
  overflow: hidden;
 .avatar {
   width: 100%;
   height: 200px;
   background-size: cover
  }
}

.pointer {
  cursor: pointer;
}
