.modal {
  display: block;
  opacity: 0;
  visibility: hidden;
  background: rgba(0,0,0, .5);
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.overlay-img {
  position: relative;
  height: 250px;
  background-size: cover !important;
}

.navbar {
  padding: 5px 30px;
}
.brand-logo img {
  width: 140px;
}

.content-wrapper {min-height: calc(100vh - 65px) !important}

